body {
    font-size: 18px;
    background-color: black;
   
}
header, nav, main, footer {
margin: 1.25rem auto;
max-width: 760px;
font-family: 'Fraunces', serif;
}
h1 {
    font: 'Fraunces',italic;
    font-size: 2.5em;
}
h2 {
    color: purple;
    font-size: 1.5rem;
}

header, footer {
    background-color: #C19A00;
    color: navy;
    text-align: center;
    padding: 1.5rem;
    
}
.wearMask {
float: right ;
margin: 1px;
margin-top: 2px;
box-shadow: 5px 5px 5px  gray;

}
.currentdate {
color : white;
}
