body {
	text-align: center;
}
header,
footer {
	background-color: #C19A00;
	color: #fff;
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2 {
	margin: 0;
	font-family:sans-serif;
    color:#004266;
}

h2, #currentdate {
	color: green;
}

main {
	margin: 10px auto;
	border: 1px solid #999;
	padding: 10px;
	max-width: 500px;
	background-color:#20b2aa;
	box-shadow: 0 0 30px;
	
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #333;
	padding: 0;
	color: #004266;
}

label {
	
	margin: 5px;
}
input,
	button {
	padding: .5rem;
	text-align:center;

}
.mygrid {
	display : grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}