@media only screen and (min-width: 68rem) {
    

    section:nth-child(3) {
        grid-column: span 1;
    }
      main {  
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
    
    .img-screenshot3{
        align-items:center;
        text-align:center;
    }
     
}