
    @media only screen and (min-width: 60em) {
       header, main, footer {
          grid-template-columns: 1fr 1fr 1fr;
          max-width: 960px;
        }  
    main img {
        display:none;
        margin:0.5rem;
       
    }
    section:nth-child(3){
        grid-column: span 1;
    }
}
   
   
    
        
   
          
   