
    @media only screen and (min-width: 60em) {
        main{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
          max-width: 960px;
        }  
       
        main section{
       
            margin : 0.5rem;
            border: 1px solid navy;
             text-align:center;
             background-color:  #C19A00;
             color: navy;
             padding: 1.5rem
             
         }
         section:nth-child(3){
             display: span(3);
         }
        main p{
            text-align:center;
        }
        main img{
         
             width: 250px;
             height: auto;
     
        }
        header, footer {
            background-color: #C19A00;
            color: navy;
            text-align: center;
            padding: 1.5rem;
            
        }
    }
          
   