
body {
    font-size: 20px;
    background-color: #C19A00; 
    max-width: 1240px;
    margin: 0 auto;
}
header,  main,footer {
margin: 1.25rem auto;

font-family: 'Fraunces', serif;
}
h1 {
    color: purple;
    font-size: 2.5em;
}
h2 {
    color: green;
    font-size: 2em;
    font-family:'Fraunces', serif;
}
h3 {
    font-size:1.5em;
}

header, footer {
    background-color: #C19A00;
    color: navy;
    
    text-align: center;
    padding: 1.5rem;
    
}
main{
    display:grid;
    grid-template-columns: 1fr;
    
    
    border: 1px solid grey;
    text-align:center;
    background-color:  white;

}

footer{
   font-size: 1em;
   background-color:navy;
   color: white;
}

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
section {
    width: 100%;
    

}
section h2{
    font-family: bradley hand;
    color: orange;
    font-size: 1.5e;

}

section a{
    font-size: .5em;
}

 section p{
   text-align:center;
   font-family: bradley hand;
   font-size: 16px;
   color: navy;
   line-height: 24px;


}
 section img{
    margin-top: 5px;
    height: auto;
    border: 5px 5px 5px;
    size: 250px;
 } 
    

