body {
    font-size: 18px;
    background-color: white;
   
}
header, nav, main, footer {
margin: 1.25rem auto;
max-width: 960px;
font-family: 'Fraunces', serif;
}
h1 {
    font: 'Fraunces',italic;
    font-size: 2.5em;
}
h2 {
    color: purple;
    font-size: 1.5rem;
}

header, footer {
    background-color: #C19A00;
    color: navy;
    text-align: center;
    padding: 1.5rem;
    
}
header img {
margin: 1px;
margin-top: 2px;
box-shadow: 5px 5px 5px  gray;

}
.currentdate {
color : white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1em;
}
main section {
    margin: 0.5rem;
    border: 1px;
    padding: 0 1rem;
    background-color: gray;
 
}
main img {
    display:none;
    margin:0.5rem;
}
.img-screenshot1 {
    grid-column: 1;
    grid-gap: 10px;

}
section:nth-child(2){
    display: none;
    margin:0.5rem;
}
.section1 {
    color: navy;
    font-family: 'Montserrat', sans-serif;
    padding:7px;
}