body {
    font-size: 10px;
    background-color: white;
   
}
header, main, footer {
margin: 1.25rem auto;
max-width: 960px;
font-family: 'Fraunces', serif;
}
h1 {
    font: 'Fraunces',italic;
    font-size: 2.5em;
}
h2 {
    color: purple;
    font-size: 2em;
}
h3 {
    font-size:1.5em;
}

header, footer {
    background-color: #C19A00;
    color: navy;
    text-align: center;
    padding: 1.5rem;
    
}
.headline{
   text-align: center;

}
main{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
}

main section{
   
   margin : 0.5rem;
   border: 1px solid navy;
    text-align:center;
    background-color:  #C19A00;
    color: navy;
    padding: 1.5rem
    
}
main p{
   text-align:center;
}
main img{

    width: 250px;
    height: auto;

}
footer{
   font-size: 1em;
}
  