h1 {
font: ubunto, san serif;
}

thead {
  background-color:#7fb9c2;
  color:#e7f0ed;
}
tbody {
  color:#e7ffed;}
tfoot {color:#628ca6;}

table, th, td {
  border: 5px solid grey;
  
  text-align: center;
  font-size: 2rem;
  box-shadow: 2px;
}

