
h1 {
  font: ubunto, san serif;
  }
  
  thead {
    
    background-color:#e7f0ed;
  }
  tbody {
    background-color:#e7ffed;
  }
  tfoot {
    background-color:#628ca6;
  }
  
  table, th, td {
    border: 1px solid grey;
    text-align: center;
    font-size: 1rem;
    box-shadow: 2px 0 2px;
  }
  