picture{
   
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 1.5rem;
}
picture img {
    border: 1px solid grey;
    padding: 2px;
    filter-blur: (0px);
    transition: 2s;

}
picture img[ data-src]{
    filter: blur(5px);
}
p {
    font-size: 0.8rem;
   
    margin: 10px;
}