picture{
   
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    align-items: center;
    justify-items: center;
   
}
h1 {
    font-size: 2.5rem;
    font-family: 'Fraunces',serif;
    text-align: center;
    color: orange;
}
picture img {
    display: grid;
    grid-column: 1;
    border: 1px solid grey;
   
   
    padding: 2px;
    filter-blur: (0px);
    transition: 2s;

}
picture img[ data-src]{
    filter: blur(5px);
}
