body {
    font-size: 16px;
    font-family: 'Fraunces', serif;
    background-color:#0077B6;
    padding: 0;
	margin: 0;
  }
  header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}
  
header {
	background-color:white;
	padding-top: 10px;
	display: flex;
	align-items:center;
    justify-content:center;
    color: rgb(92, 92, 13);
}

#headings {
    display: flex;
    flex-direction: column;
  }
.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}
header img {
    width: 80px;
    height: auto;
    float: left;
    padding-right: 5%;
    padding-left: 2%;
  }
.motto {
	font-style: italic;
	letter-spacing: 1px;
	color: white;
	margin-left: 20px;
	font-size: .9rem;
}

  .headings1 {
    font-size: 1.2rem;
  }

  
  nav button {
    margin: 0.2rem 2%;   
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav {
    background-color: #ccc;
    font-family: 'Fraunces', serif;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}  
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3)
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);

}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: white;
}
nav ul.hide{
    display: none;
}
/*--------Clearfix: Force an element not to collapse------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color:#03045E;
    text-align:center;
    color:#CAF0F8;
    font-size: 1em;
} 