
body {
    font-family: 'Fraunces', serif;
    font-size: 15px;
   color: navy blue;
    text-align: center; 
    background-color: white;
}
div.cards{
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    font-size: 2.6rem;
    text-shadow: 3px 3px 3px #777;
    }

h2{
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
     margin-top: 7px;
     color: #03045E;
}
p{
    font-size: 1rem;
    color: #03045E;
    font-family:'Fraunces', serif;
}
img{
    width: 100%;
    padding: 5%;
    box-shadow: 5px 5px 5px #777;
}
section{
   background-color: white;
   margin: 1 0 1rem 0;
   box-shadow: 10px 10px 10px 0 rgba (0,0,0,0.5)
}
@media only screen and (min-width: 35rem){
  .cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
  }
div.cards{
    margin: auto;
}
}

@media only screen and (min-width: 64rem){
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
  div.cards{
      margin: auto;
  }
}