
/****************Main Section********************/
    
footer {
    max-width: 1200px;
    margin : 0 auto;

}
h1{
    margin: 7px;
    border: 1px solid white;
    padding: 1px;
    background-color: navy blue;
}