/*Prevents adjustments of font size after orientation changes in IE on Windows Phone and in IOS. */
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}
/*--------apply a natural box layout model to all elements------------*/
*{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {
    font-size: 16px;
    font-family: 'Fraunces', serif;
    background-color:#90E0EF;
    padding: 0;
	margin: 0;
  }
  header,
  nav,
  main,
  footer {
  max-width: 1200px;
  margin: 0 auto;
}
  header {
	background-color:white;
	padding-top: 10px;
	display: flex;
	align-items:center;
    justify-content:center;
    color: rgb(92, 92, 13);
}
section{
    display: flex;
    flex-direction: column;
}

.headings h1 {
	font-size: 2.6rem;
	margin: 0 0 0 17px;
}
header img {
    width: 100%;
    height: auto;
    float: left;
    padding-right: 5%;
    padding-left: 2%;
  }
.motto {
	font-style: italic;
	letter-spacing: 1px;
	color: navy;
	margin-left: 20px;
	font-size: .9rem;
}

  .headings {
    font-size: 1.2rem;
  }

  h1{
    text-align: center;
    font-size: 2.6rem;
    text-shadow: 3px 3px 3px #777;
}

nav button {
    margin: 0.2rem 2%;   
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav {
    background-color: #ccc;
    font-family: 'Fraunces', serif;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}  
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3)
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
color: orange;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: white;
}
nav ul.hide{
    display: none;
}
/*--------Clearfix: Force an element not to collapse------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color:#03045E;
    text-align:center;
    color:#CAF0F8;
    font-size: 1em;
} 
/**********form************/
form fieldset {
    margin: 2em 2em;
    border: 2px solid navy;
    border-radius: 10px;
    padding: .5rem 2%;
    box-shadow: 10px 10px 10px
    }
form legend {
    color: navy;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5em;
}    
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: orange;
    font-size: 1rem;
    text-align: left;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color : #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.3);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: white;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: orange 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}.flexly {
	display: flex;
	align-items: center;

}
#ratingvalue {
	margin: 0 15px;
	color: navy;
}

textarea {
    border: solid 2px #777;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}