
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

table{

    box-shadow: 5px 10px 9px 0px #628ca6;
    border-radius: 0px;
}
th, td {
    border: 1px solid #a3a3a3;
    padding: 0.10rem;
  }

.titleHead {
    background-color: #628ca6;
    color:white
}
thead,  tfoot {
    background-color: #7fb9c2;
}

tfoot td {
    font-size: 0.6rem;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(even) {
    background-color: #e7ffed;
}