body{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background-color: navy;
}
header,
nav,
main,
footer{
    max-width: 760px;
    margin: 0 auto;
    background-color:navy;
}
h1{
    color: #EC9F05;
    font-size: 3em;
}
h2{
    color: white;
    font-size: 2.5em;
}
p{
    color: white;
    font-size: 1.5em;
}

nav{
    background-color: purple;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}
nav ul{
overflow: hidden;
}
 nav ul li a{
    display:block;   
    text-align: center;
    font-size:0.95rem;
}
nav a:hover{
    background-color:#bbb;
    color: purple;
}

.button{
    justify-items: center;
    font-size: 1.75em;
    color: white;
    padding: 15px 15px;
}

.active {
    color:#EC9F05;
}
main{
    display:grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    
}
.colors{
    width: 75%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: navy;
  }
  .secondary {
    background-color:  #EC9F05;
  }
  .accent1 {
    background-color: white;
  }
  .accent2{
    background-color:purple;
  }
  
  p a {
   color: #EC9F05;
   font-size: 1.5em;
    
  }
footer{
    line-height:55px;
    padding: 20px;
    text-align:center; 
    font-size:.5em;
    font-size: 1.5em;
    color: white;
}
@media only screen and (min-width:37.5em){
    /* Horizontal menu example */
    /* Flex*******************************/
    /* nav ul (display:flex;}
    nav ul li{flex: 1 1 100;}
    */

    /* Grid ************************/
    nav ul {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
    
    
    }
}
