body{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background-color: navy;
}
header,
nav,
main,
footer{
    max-width: 760px;
    margin: 0 auto;
}
h1{
    color: #EC9F05;
    font-size: 3em;
}
h2{
    color: white;
    font-size: 2.5em;
}
p{
    color: white;
    font-size: 2em;
}

nav{
    background-color: purple;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}
nav ul{
overflow: hidden;
}
 ul a{
    display:block;   
    text-align: center;
}

.button{
    justify-items: center;
    font-size: 1.75em;
    color: white;
    padding: 15px 15px;
}

.home {
    color:purple;
}
main{
    display:grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    
}
.colors{
    width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: navy;
  }
  .secondary {
    background-color:  #EC9F05;
  }
  .accent1 {
    background-color: white;
  }
  .accent2{
    background-color:purple;
  }
  
  p.colored {
   color: purple;
    
  }
footer{
    line-height:55px;
    padding: 20px;
    text-align:center; 
    font-size:.5em;
    font-size: 1.5em;
    color: white;
}
